mixin kpiBar(id)
  div.container.mr-1.my-2.px-0.pb-2.chart-canvas.kpi-bar(id=id)
    div.chart-label

mixin sparkline(id)
  div.container.mr-1.mt-2.px-0.pb-2.chart-canvas.sparkline(id=id)
    div.chart-label

mixin timeline(id)
  div.container.mx-auto.mt-2.mb-3.pl-0.pb-2.chart-canvas.timeline(id=id)
    div.chart-label

mixin barChart(id)
  div.container.mx-1.pl-0.mb-4.chart-canvas.bar-chart(id=id)
    div.chart-label

mixin sparkbar(id)
  div.row
    div.col-sm-6.kpi-col
      +kpiBar("kpibar_" + id)
    div.col-sm-6.kpi-col.d-none.d-sm-block
      +sparkline("sparkline_" + id)

mixin kpiTile(id)
  div.container.px-0.chart-canvas.kpi-tile(id=id)

mixin brickWall(id)
  div.container.mx-1.pl-0.mb-4.chart-canvas.brick-wall(id=id)
    div.chart-label

mixin toggleSwitch(id)
  div.row
    div.col-3.mx-auto
      span.switch-label KPIBar
    div.col-3.mx-auto
      label.switch
        input(id=id, type="checkbox")
        span.slider
    div.col-3.mx-auto
      span.switch-label Sparkline