doctype html
html(lang="en")
  include includes/head.pug
  body

    //- Wrapper for content and nav
    div.wrapper
      nav(id="sidebar")
        div(id="dismiss")
          i.fa.fas.fa-arrow-left

        div.sidebar-header
          h3 #{route.title}

        ul.list-unstyled.components
          each val in routes
            li.nav-link.p-0(class={active: route.link === val.link})
              a(href=val.link)
                i.fa.fas(class=val.icon)
                |  #{val.title}

      div.p-0(id="content")
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
          button.btn.btn-info(type="button" id="sidebarCollapse")
            i.fa.fas.fa-align-justify
          span.text-light #{route.title}
          button.btn.btn-info(type="button" id="helpButton")
            i.fa.fas.fa-question-circle.text-light

        div.container
          div.row
            div.col
              block chart-top
          div.row
            div.col.chartCol
              block chart
          div.row
            div.col
              block chart-bottom

          include includes/footer.pug

    div.overlay