doctype html
html(lang="en")
  include includes/head.pug
  include includes/svgPatterns.pug
  //- Deactivate right click
  body(oncontextmenu="return false;")

    //- Wrapper for content and nav
    div.wrapper
      nav(id="sidebar")
        div(id="dismiss")
          i.fa.fas.fa-arrow-left

        div.sidebar-header
          h3 #{page.title}

        ul.list-unstyled.components
          each route in routes
            li.nav-link.p-0(class={active: page.link === route.link})
              a(href=route.link)
                i.fa.fas(class=route.icon)
                |  #{route.title}

      div.p-0(id="content")
        //- Header navbar
        nav.navbar.navbar-expand-lg.py-2.navbar-dark.bg-dark
          button.btn.btn-main.btn-nav(type="button" id="sidebarCollapse")
            i.fa.fas.fa-align-justify
          h4.text-light #{page.title}
          div.dropdown
            button.btn.btn-main.btn-nav.dropdown-toggle#menuToggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              i.fa.fas.fa-ellipsis-v.text-light
            div.dropdown-menu.dropdown-menu-right(aria-labelledby="menuToggle")
              button.dropdown-item#shareBtn(type="button")
                i.fa.fas.fa-fw.fa-share
                |  Share
              button.dropdown-item#refreshBtn(type="button")
                i.fa.fas.fa-fw.fa-sync
                |  Refresh
              div.dropdown-divider
              button.dropdown-item.disabled#timeFrameBtn(type="button")
                i.fa.fas.fa-fw.fa-calendar-alt
                |  Time Frame
              button.dropdown-item.disabled#filterBtn(type="button")
                i.fa.fas.fa-fw.fa-filter
                |  Filters

        //- Chart content
        div.container.content-container
          div.row.chart-top
            div.col
              block chart-top
          div.row.chart
            div.col.chartCol
              block chart
          div.row.chart-bottom
            div.col
              block chart-bottom

        //- Footer navbar
        include includes/footer.pug

    //- Sidebar overlay
    div.overlay